.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.choice {
  width: 100%;
  height: 80%;
  display: flex;
}

.title {
  grid-area: title;
  background-color: #8D3B72;
  height: 15%;
  width: 100%;
  border: 10px solid #F6E8EA;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75px;
}

.title h1 {
  font-size: 50px;
}

.page {
  display: flex;
}

.options {
  border: 10px solid #F6E8EA;
  width: 50%;
  height: 100%;
}

.left {
  background-color: #C179B9;
}

.skill {
  border: 3px solid #F6E8EA;
  padding: 10px;
  border-radius: 25px;
}

.skill:hover {
  cursor:pointer;
}

.right {
  background-color: #EEB4B3;
}

.options {
  display: flex;
  flex-direction: column;
  min-height: 625px;
  align-items: center;
  justify-content: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1vh;
}

.project-tile {
  width: 15vw;
  height: 15vh;
  min-height: 75px;
  min-width: 75px;
  border-radius: 35px;
  background-color: #F6E8EA;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 100vh rgba(0,0,0, 0.7);
  border: 3px solid rgba(0,0,0, 0.7);
}

.project-tile a {
  text-decoration: none;
}

@media (max-width: 750px) {
  .project-tile a {
    font-size: 12px;
  }
}

@media (max-width: 585px) {
  .project-tile a {
    font-size: 10px;
  }
}

.project-tile a:hover {
  animation-name: highlight;
  animation-duration: 0.5s;
  animation-delay: 0.05s;
}
.trib {
  background-image: url("Tribute Page.png");
  background-position: center;
  background-size: cover;
  background-color: #F6E8EA;
}

.surv {
  background-image: url("Survey Form.png");
  background-position: center;
  background-size: cover;
  background-color: #F6E8EA;
}

.land {
  background-image: url("Landing Page.png");
  background-position: center;
  background-size: cover;
  background-color: #F6E8EA;
}

.docs {
  background-image: url("Documentation.png");
  background-position: center;
  background-size: cover;
  background-color: #F6E8EA;
}

.champ {
  background-image: url("champ.png");
  background-position: center;
  background-size: cover;
  background-color: #F6E8EA;
}

.tsaf {
  background-image: url("tsaf.png");
  background-position: center;
  background-size: cover;
  background-color: #F6E8EA;
}

.dom {
  background-image: url("dom.png");
  background-position: center;
  background-size: cover;
  background-color: #F6E8EA;
}

.ctc {
  background-image: url("CTC.png");
  background-position: center;
  background-size: cover;
  background-color: #F6E8EA;
}
